<html>
    <head>
        <title>My profile</title>
        <link href="{{url_for('static',filename='css/bootstrap.css')}}" rel="stylesheet">
    </head>
    <body>

     
      Donate Cash Gift
     
      
        <!-- Page Content -->
        <div class="container">
       
          <!-- Content Row -->
          <div class="row">
            <!-- Sidebar Column -->
            <div class="col-lg-3 mb-4">
         
            {% include 'user/side-bar.html' %}
            </div>
            <!-- Content Column -->
            <div class="col-lg-9 mb-4">
              {% with m=get_flashed_messages() %}
              {% if m %}
              <div class="alert alert-warning">
              {% for msg in m %}
             <p> {{ msg }}</p>
              {% endfor %}
            </div>
            {% endif %}
            
              {% endwith %}
               
              <p>You can donate cash gift towards the preparation of the birthday here:<br>
              <b>Complete the form below to supply an amount you wish to give</b><br>
          You will then be redirected to a page where you will be asked to supply your card details<br> An invoice will be generated for you thereafter.
      <br> Thank you for your generousity</p>
      <form action="{{ url_for('paycash')}}" method="post">
          <div class="form-group row">
              <div class="col-md-3">
                  <label>Enter Amount</label>
              </div>
              <div class="col-md-6">
                  <input type="text" name="amount" id="amount">
              </div>
              <div class="col-md-3">
                  <button class="btn btn-danger btn-sm">Proceed</button>
              </div>
          </div>
      </form>
            </div>
          </div>
      
      
        </div>
       





        <div class="container" style="border: 1px solid black;">
            <h2>Donate money</h2>
            <p>You can donate money to towards the preparation pf d birthday</p>
          <form action="" method="post">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
         
        <label>Amount</label>
        <textarea class="form-control" name="don"></textarea><br><br>
        <button class="btn btn-primary">Proceed</button>  
          </form>
        </div>
    </body>
    </html>