<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Guest Registration App</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  
<style type="text/css">
.nav-link{ color:white;}
.nav-link:hover{
	color:grey;
}
</style>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg  fixed-top" style='background-color:red'>
    <div class="container">
      <a class="navbar-brand" href="index.html" style='color:yellow'>GuestReg</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home</a>
          </li>
		   <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html">Services</a>
          </li>
		   <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Hello Adeola
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
              <a class="dropdown-item" href="profile.html">Edit Profile</a>
              <a class="dropdown-item" href="payments.html">My Payments</a>
              <a class="dropdown-item" href="shop.html">Shop</a>
            </div>
          </li>
          <li class="nav-item" style='background-color:yellow;margin-left:60px !important;'>
            <a class="nav-link" style='color:red' href='#' data-toggle="modal" data-target="#exampleModal" >Login</a>
          </li>
           
         
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li> 
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('images/itpro1.jpg')">
          <div class="carousel-caption d-none d-md-block" style='background-color:rgba(241,211,2,0.6); background-position: bottom; bottom:160px;'>
            <h3>Welcome to IT Pro!</h3>
            <p> We are simply the dots in IP address...</p>
          </div>
        </div>
       
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/itpro2.jpg')">
          <div class="carousel-caption d-none d-md-block" style='background-color:rgba(241,211,2,0.6); bottom:160px;'>
            <h3>The biggest party in town ever!</h3>
            <p> Shaping the future...</p>
          </div>
        </div>

        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('images/itpro3.jpg')">
  <div class="carousel-caption d-none d-md-block" style='background-color:rgba(241,211,2,0.6); bottom:160px;color:red'>
            <h3>Check out our list of Musicians</h3>
            <p> We move because the earth moves...</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container" >
<div style='background-color: #DDD1C7; padding:1.5em'>
    <h2 class="my-4">SAVE THE DATE: December 10,2021</h2>

    <!-- Marketing Icons Section -->
    <div class="row">
       <div class="col-lg-12">
        
        <p>Our 21st Century Online App just made life easier for you:</p>
        <ul>
          <li>
            <strong>Features</strong>
          </li>
          <li>Pay your annual dues online</li>
          <li>Check Your Payment History</li>
          <li>Connect with other IT Professionals</li>
          <li>Create your public profile page</li>
        </ul>
        <p>By the way, this is a test content, just ignore with all your strenght and power, you are advised not to take it serious as much as you can.</p>
      </div>
    

    </div>
</div>
    <!-- Portfolio Section -->
    
<div style='background-color: #F6F0ED;padding:20px'>
<h3 >Meet other Guests</h3>
 <div class="row" >
  
      <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="profile/p2.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="single.html">Tolani Balogun</a>
            </h6>
            
          </div>
        </div>
      </div> 
     <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="profile/p1.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="single.html">Tolani Balogun</a>
            </h6>
            
          </div>
        </div>
      </div> 
     <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="profile/p3.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">Tolani Balogun</a>
            </h6>
            
          </div>
        </div>
      </div> 
     <div class="col-lg-3 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" src="profile/p4.jpg" alt=""></a>
          <div class="card-body">
            <h6 class="card-title">
              <a href="#">Tolani Balogun</a>
            </h6>
             
          </div>
        </div>
      </div> 
     
    
   
    </div>
</div>
    <!-- /.row -->
	  <hr>
	  <p style='text-align:right'><a href='' class='btn btn-danger btn-lg'>R S V P</a></p>
 
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5" style='background-color:red'>
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Guest Registration App 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Member's Login Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action='login.php'>
  <div class="form-group">
    <label for="exampleInputEmail1">User ID</label>
    <input type="text" name='userid' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
     
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name='pwd' class="form-control" id="exampleInputPassword1">
  </div>
   <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  <button type="submit" class="btn btn-info">Login</button>
</form>
      </div>
      
    </div>
  </div>
</div>
</body>

</html>
