<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Moat Academy Cohort 13 Estate</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet">
  
<style type="text/css">
.nav-link{ color:white;}
.nav-link:hover{
	color:grey;
}
</style>


</head>

<body>

  

  <!-- Page Content -->
  
  <div class="container" style='min-height:500px'>
 
 <p><a href='index.html'>index.html</a></p>
 <p><a href='admin.html'>admin.html</a></p>
 <p><a href='signup.html'>signup.html</a></p>
 <p><a href='editprofile.html'>editprofile.html</a></p>
 
 <p><a href='payment_report_user.html'>payment_report_user.html</a></p>
 <p><a href='payments.html'>payments.html</a></p>
 <p><a href='single.html'>single.html</a></p>
 <p><a href='details.html'>details.html</a></p>
 <p><a href='dashboard.html'>dashboard.html</a></p>
 
 <p><a href='allmembers.html'>allmembers.html</a></p>
 <p><a href='adminloginform.html'>adminloginform.html</a></p>
 <p><a href='faq.html'>faq.html</a></p>
  </div>
  <!-- /.container -->

  
  

</body>

</html>
